/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0;padding: 10px; overflow: hidden; font-family: Roboto, "Helvetica Neue", sans-serif;position: relative; background-color: rgb(227, 222, 222);}
